* {
    margin: 0;
    padding: 0;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

@media only screen and (max-width:710px) {
    .redes{
        display: none;
    }

    .section-container {
        background-color: #F4FFFD;
        width: 100vw;
    } 

    .contacto{

        font-size: 10px;
        
        }

        .video{
width: 100vw;

}

.lecciones-imag{

    width: 100vw;


}




  }

.text {

    font-family: 'Inter Tight', sans-serif;
    font-size: 26px;
    margin-left: 10px;
}

.section-container {
    background-color: #F4FFFD;
    display: flex;
    flex-direction: row;
       
}

.section-contacto {
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
}

.contacto {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: black;
    font-weight: bold;
    margin-left: 5px;
}

.mail {
    margin-left: 5px;
    margin-right: 5px;
}

.section-redes {
    width: 100vw;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
   
}

.redes {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-top: 20px;
}

.comunidad {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: rgb(189, 193, 196);
    font-weight: bold;
    margin-right: 5px;
}

.instagram {
    margin-left: 10px;
}

.youtube {
    margin-left: 2px;
}

.nav-container {
    width: auto;
    height: 150px;
}

.logo {
    width: auto;
    height: 150px;
    display: flex;
    justify-content: flex-start;
}

.carousel-dimension {
    margin: top 1200px;
    width: 40%;
    margin: 0 auto;
}

.menu {
    width: auto;
    font-family: 'Combo', cursive;
    font-size: 26px;
    color: black;
    font-weight: bold;
    list-style: none;
}

.animate__animated.animate__bounce {
    --animate-delay: 2s;
}

.home {

    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}



.home:hover {
    font-size: 36px;
    transition: all 1s;
    color: black;
    background-size: 100% 2px;
}

.novedades-container {
    width: 100%;
    background-color: #F4FFFD;
    display: flex;
    justify-content: center;
}

.separador-title {

    display: flex;
    align-items: center;
    font-family: 'Combo', cursive;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.separador-title:hover {
    transform: scale(2);
    transition: all 1.2s;
}


.escuela-title {

    display: flex;
    align-items: center;
    font-family: 'Combo', cursive;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.escuela-title:hover {
    color: skyblue;
    transition: all 1.2s;
    
}

.separador-title:hover {
    color: skyblue;
    transition: all 1.2s;
    
}

.ultimo{

margin-bottom: 200px;


}
.novedades-container {
    width: 100%;
    background-color: #F4FFFD;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}



.novedades-img{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 60%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}




/* Footer */

.footer-container {
    background-color: #F4FFFD;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.image-footer {
    padding-left: 15px;
}

.info-footer {
    display: flex;
    align-items: baseline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: black;
}

