@import '../base/variables';
@import '../base/listas';

.escuela-title {

    @extend %flex;
    font-family: 'Combo', cursive;
    font-size: nth($font-size, 4 );
    margin-top: 20 px;
    margin-bottom: 10 px;
    margin-left: 10 px;

    &:hover {
        color: $font-color-hover;
        transition: all 1.2s;
    }
}

