@import '../base/variables';
@import '../base/listas';

.escuela-title {

    @include display-flex (flex, flex-start, center);
    font-family: 'Combo', cursive;
    font-size: nth($font-size, 4 );
    margin-top: 20 px;
    margin-bottom: 10 px;
    margin-left: 10 px;

    &:hover {
        color: $font-color-hover;
        transition: all 1.2s;
    }




}


.escuela-profe{
    font-size: nth($font-size, 3 );
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: underline;
    
    }

    .horario-escuela{

margin-left: 10px;


    }

.disponile-escuela{

    margin-left: 10px;


}