@import '../base/variables';
@import '../base/listas';

.separador-title {

    @include display-flex (flex, flex-start, center);
    font-family: 'Combo', cursive;
    font-size: nth($font-size,5);
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.text{

    font-family: 'Inter Tight', sans-serif;
    font-size: nth($font-size, 4 );
    margin-left: 10px;
    margin-right: 10px;

    @media only screen and (max-width:710px) {
        margin-left: 15px;
        margin-right: 15px;
        

    }

}

.ultimo{

    margin-bottom: 200px;

    @media only screen and (max-width:710px) {
        margin-bottom: 400px;

    }

}


