@import '../base/variables';
@import '../base/listas';
@import '../base/extend';

.section-container {
    background-color: $bg-color-general;
    display: flex;
    flex-direction: row;

    @media only screen and (max-width:710px) {

        background-color: $bg-color-general;
        width: 100vw;
    } 


    .section-contacto {

        width: 80%;
        height: 30px;
        @include display-flex (flex, flex-start, center);
       


        .contacto {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: nth($font-size,2);
            color: black;
            font-weight: bold;
            margin-left: 5px;
            @media only screen and (max-width:710px) {
                font-size: nth($font-size,1);

            }

        }

        .mail {
            margin-left: 5px;
            margin-right: 5px;
        }

        .wapp {
            width: 24px;
            height: auto;
        }

    }

    .section-redes {
        width: 100vw;
        height: 32px;
        @include display-flex (flex, flex-end, center);
    }

    .redes {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: nth($font-size,2);
        margin-top: 20px;

        @media only screen and (max-width:710px) {
                display: none;
            }
        



    }

    .instagram {
        margin-left: 10px;
    }

    .youtube {
        margin-left: 2px;
    }

    .facebook {
        width: 30px;
    }


}